.cardboot{
    min-height: 450;
        width: 18rem;
}

.cardboot img{
    height: 200px;
}

.lescards{
    margin-top: 50px;
}

@media (max-width: 575.98px) { 
.cardboot{
 
    width: 18rem;
}

.divboot{
    padding: 0%;
}

}
@media (min-width: 576px) and (max-width: 767.98px) { 
    .cardboot{
        padding: 0%;
    }
 }

 @media (min-width: 992px) and (max-width: 1199.98px) { 
     .cardboot{
         margin: auto;
         width: 15rem;
     }
  }
  @media (min-width: 1200px) { 
      .cardboot{
        width: 15rem;
      }
   }